.loader__wrapper {
  background: #2196f3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__wrapper .loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__wrapper .loader span {
  width: 50px;
  height: 300px;
  margin: 0 20px;
  background: #2196f3;
  animation: loading 1.4s linear infinite;
}

.loader__wrapper .loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader__wrapper .loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader__wrapper .loader span:nth-child(3) {
  animation-delay: 0.4s;
}

.loader__wrapper .loader span:nth-child(4) {
  animation-delay: 0.6s;
}

.loader__wrapper .loader span:nth-child(5) {
  animation-delay: 0.8s;
}

.loader__wrapper .loader span:nth-child(6) {
  animation-delay: 1s;
}

.loader__wrapper .loader span:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes loading {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-50px) scale(1);
  }

  50% {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translateX(0px) scale(1.2);
  }

  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(50px) scale(1);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .loader__wrapper .loader {
    width: 50%;
  }
  .loader__wrapper .loader span {
    width: 35px;
    margin: 0 -35px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .loader__wrapper .loader {
    width: 60%;
  }
  .loader__wrapper .loader span {
    width: 50px;
    margin: 0 -50px;
  }
}
