.social__wrapper {
  background: var(--icons-background);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__wrapper ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
}

.social__wrapper ul li {
  position: relative;
  list-style: none;
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.social__wrapper ul li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}

.social__wrapper ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}

.social__wrapper ul li span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
  transition: 0.2s;
}

.social__wrapper ul li:hover span {
  z-index: 1000;
  transition: 0.5s;
  color: white;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.social__wrapper ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.social__wrapper ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.social__wrapper ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.social__wrapper ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.social__wrapper ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

.social__wrapper ul li:nth-child(1):hover span {
  background: var(--facebook);
}

.social__wrapper ul li:nth-child(2):hover span {
  background: var(--twitter);
}

.social__wrapper ul li:nth-child(3):hover span {
  background: var(--whatsapp);
}

.social__wrapper ul li:nth-child(4):hover span {
  background: var(--linkedin);
}

.social__wrapper ul li:nth-child(5):hover span {
  background: var(--instagram);
}
