.color-palette__wrapper {
  margin: 0;
  background: #f1f1f1;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  flex-direction: column;
}

.color-palette__wrapper .loader {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
}

.color-palette__wrapper .loader div {
  position: relative;
  width: 40px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  border-radius: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05, #edf1f4));
  border: 2px solid #edf1f4;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px white,
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.color-palette__wrapper .loader div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 40px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px white,
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.color-palette__wrapper .loader div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 50%;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.2), 0 420px 0 400px #2196f3;
  animation: animate-colors 2.5s ease-in-out infinite;
  transform: translateY(160px);
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate-colors {
  0% {
    transform: translateY(160px);
    filter: hue-rotate(180deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(160px);
    filter: hue-rotate(0deg);
  }
}

.span-4 {
  --i: 4;
}

.color-palette__wrapper .palette {
  position: relative;
  background: white;
  width: 45em;
  height: 25em;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #1f1f1f;
  padding-top: 5em;
  box-sizing: border-box;
}

.color-palette__wrapper .palette button {
  outline: none;
  border: none;
  padding: 0.7em 2em;
  font-size: 1.1em;
  position: absolute;
  top: -1em;
  transform: translateX(-50%);
  border-radius: 2em;
  background: #1f1f1f;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.4s;
}

.color-palette__wrapper .palette button:hover {
  background: white;
  color: #1f1f1f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.color-palette__wrapper .palette .colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
  border-radius: 20px;
}

.color-palette__wrapper .palette .colors > div {
  width: 25%;
}

.color-palette__wrapper .palette .colors .color {
  background: #ccc;
  height: 18.5em;
  width: 100%;
}

.color-palette__wrapper .palette .colors h4 {
  font-size: 0.9em;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.4s ease-in;
}

@media screen and (max-width: 500px) {
  .color-palette__wrapper {
    padding: 2em;
  }

  .color-palette__wrapper .palette {
    height: initial;
  }

  .color-palette__wrapper .palette .colors {
    flex-direction: column;
  }

  .color-palette__wrapper .palette .colors > div {
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
