.tilt-card__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tilt-card__wrapper .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  transform-style: preserve-3d;
}

.tilt-card__wrapper .container .box {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 60px 0;
  background: #000;
  transform-style: preserve-3d;
}

.tilt-card__wrapper .container .box:hover {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}

.tilt-card__wrapper .container .box .image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tilt-card__wrapper .container .box .image-box img {
  width: 600px;
  height: 400px;
}

.tilt-card__wrapper .container .box .content-box {
  position: absolute;
  top: 65%;
  left: 10%;
  right: 10%;
  background: #fff;
  transform: translateZ(20px) scaleY(0);
  padding: 40px 25px;
  transform-origin: top;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.tilt-card__wrapper .container .box:hover .content-box {
  transform: translateZ(50px) scaleY(1);
}
