@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  /* Light */
  --light-background-color: #eee;

  /* Dark */
  --dark-background-color: #161d34;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-dark {
  font-family: roboto, sans-serif;
  overflow-x: hidden;
  background: var(--dark-background-color);
  width: 100vw;
  height: 100vh;
}

.body-light {
  font-family: roboto, sans-serif;
  overflow-x: hidden;
  background: var(--light-background-color);
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #0072ff);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(255, 7, 110));
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 18em));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.toggle-light {
  position: absolute;
  background: var(--dark-background-color);
  top: 20px;
  right: 100px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-light::before {
  content: "\f186";
  font-family: fontAwesome;
  color: white;
  font-size: 2em;
}

.toggle-dark {
  position: absolute;
  top: 20px;
  right: 100px;
  background: var(--light-background-color);
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-dark::before {
  content: "\f186";
  font-family: fontAwesome;
  color: black;
  font-size: 2em;
}
