@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  background: #161d34;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #0072ff);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(255, 7, 110));
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 18em));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161d34;
  padding-top: 20px;
  font-weight: 900;
  font-size: 4em;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0.1vw #383d52;
  text-transform: uppercase;
}

.header::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: attr(data-text);
  width: 0;
  height: 10%;
  color: #039d69;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  animation: animate-header 6s linear infinite;
}

@keyframes animate-header {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 20%;
  }
}

@keyframes animate-header-1400 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 30%;
  }
}

@keyframes animate-header-1000 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 40%;
  }
}

@keyframes animate-header-750 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 50%;
  }
}

@keyframes animate-header-650 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 65%;
  }
}

@keyframes animate-header-550 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 80%;
  }
}

@keyframes animate-header-450 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 85%;
  }
}

@media screen and (max-width: 1400px) {
  .header::before {
    animation: animate-header-1400 6s linear infinite;
  }
}

@media screen and (max-width: 1000px) {
  .header::before {
    animation: animate-header-1000 6s linear infinite;
  }
}

@media screen and (max-width: 750px) {
  .header::before {
    animation: animate-header-750 6s linear infinite;
  }
}

@media screen and (max-width: 650px) {
  .header::before {
    animation: animate-header-650 6s linear infinite;
  }
}

@media screen and (max-width: 550px) {
  .header::before {
    animation: animate-header-550 6s linear infinite;
  }
}

@media screen and (max-width: 450px) {
  .header {
    font-size: 3em;
  }

  .header::before {
    animation: animate-header-450 6s linear infinite;
  }
}
