@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  /* Color Variables */
  --primary: #d50000;
  --primary-hover: #29e6a7;
  --primary-dark: #039d69;
  --secondary: #7729ee;
  --gray-100: #f9fbff;
  --gray-150: #f4f6fb;
  --gray-200: #eef1f6;
  --gray-300: #e1e5ee;
  --gray-400: #767b91;
  --gray-500: #4f546c;
  --gray-600: #2a324b;
  --gray-700: #161d34;
  --dark: #373737;
  --clock-color: #091921;

  --facebook: #3b5999;
  --twitter: #55acee;
  --whatsapp: #25d366;
  --linkedin: #0077b5;
  --instagram: #e4405f;
  --github: #171515;

  --background: #3d3d3d;
  --loader-background: #2196f3;
  --icons-background: #222;

  --gradient-color-1: #434343;
  --gradient-color-2: #535353;
  --gradient-color-3: #8460ed;
  --gradient-color-4: #ff1252;
  --gradient-color-5: #0072ff;
  --gradient-color-6: #ff0058;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  background: var(--gray-700);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--gradient-color-5));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(255, 7, 110));
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 16em));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-700);
  padding-top: 20px;
  font-weight: 900;
  font-size: 4em;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0.1vw #383d52;
  text-transform: uppercase;
}

.header::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: attr(data-text);
  width: 0;
  height: 10%;
  color: var(--primary-dark);
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  animation: animate-header 6s linear infinite;
}

@keyframes animate-header {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 20%;
  }
}

@keyframes animate-header-1400 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 30%;
  }
}

@keyframes animate-header-1000 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 40%;
  }
}

@keyframes animate-header-750 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 50%;
  }
}

@keyframes animate-header-650 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 65%;
  }
}

@keyframes animate-header-550 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 80%;
  }
}

@keyframes animate-header-450 {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 85%;
  }
}

@media screen and (max-width: 1400px) {
  .header::before {
    animation: animate-header-1400 6s linear infinite;
  }
}

@media screen and (max-width: 1000px) {
  .header::before {
    animation: animate-header-1000 6s linear infinite;
  }
}

@media screen and (max-width: 750px) {
  .header::before {
    animation: animate-header-750 6s linear infinite;
  }
}

@media screen and (max-width: 650px) {
  .header::before {
    animation: animate-header-650 6s linear infinite;
  }
}

@media screen and (max-width: 550px) {
  .header::before {
    animation: animate-header-550 6s linear infinite;
  }
}

@media screen and (max-width: 450px) {
  .header {
    font-size: 3em;
  }

  .header::before {
    animation: animate-header-450 6s linear infinite;
  }
}

.filter__wrapper section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.filter__wrapper section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter__wrapper section ul li {
  list-style: none;
  background: #eee;
  color: var(--gray-700);
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.filter__wrapper section ul li.active {
  background: var(--gradient-color-5);
  color: white;
}

.cards:hover .card-wrapper {
  opacity: 0.5;
}

.card-wrapper {
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 18px;
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.card-wrapper.hide {
  display: none;
}

.cards .card-wrapper:hover {
  transform: scale(1.05);
  opacity: 1;
}

.card-wrapper .card__image {
  height: 12rem;
  widows: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover !important;
}

.card-wrapper .card__title {
  padding: 1.2rem;
  text-transform: uppercase;
  font-size: 20px;
}

.card-wrapper .card__description {
  padding: 0 1rem;
  text-align: center;
  color: var(--gradient-color-6);
  color: grey;
  font-size: 16px;
  font-weight: 300;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 200ms ease-in;
  z-index: 99999;
}

.popup .popup__inner {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: var(--background);
}

.popup .popup__inner .popup__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid var(--primary);
  background: var(--primary);
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: transform 200ms ease-in, color 200ms ease-in;
  z-index: 9999999999999;
}
