image-slider__wrapper {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.slide-one {
  background: #b0c6f5;
}

.img-box {
  width: 500px;
  position: relative;
}

.pic-one {
  width: 100%;
}

.pic-two {
  width: 100px;
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.pic-three {
  width: 75px;
  position: absolute;
  left: 150px;
  bottom: 70px;
}

.pic-four {
  width: 160px;
  position: absolute;
  right: 15px;
  top: -435px;
}

.pic-five {
  width: 110px;
  position: absolute;
  right: 20px;
  top: -220px;
}

.pic-six {
  width: 160px;
  position: absolute;
  right: 180px;
  top: -50px;
}

.slide-one .container .row {
  margin: 15.2% 0;
}

.slide-two .container .row {
  margin: 17.5% 0;
}

.carousel-item h1 {
  margin-top: 30px;
  font-weight: bold;
  color: white;
}

.carousel-item p {
  margin: 30px 0 50px;
  font-size: 20px;
  color: white;
}

.carousel-item button {
  padding: 8px 20px;
  background: #0c5ce3;
  border: 0;
  outline: none;
  border-radius: 20px;
  color: white;
  font-size: 13px;
}

.slide-two {
  background: #f7f7f7;
}

.slide-two h1,
.slide-two p {
  color: #feb154;
}

.img-one {
  width: 100%;
}

.img-two {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 20px;
}

.img-three {
  width: 70px;
  position: absolute;
  left: 245px;
  bottom: 55px;
}

.img-four {
  width: 60px;
  position: absolute;
  right: 155px;
  bottom: 95px;
}

.img-five {
  width: 100px;
  position: absolute;
  right: 50px;
  bottom: 20px;
}

.slide-two button {
  background: linear-gradient(to right, #feb154, #ffd255);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .slide-one .container .row {
    margin: 50% 0;
    overflow: visible;
  }

  .slide-one .container .row div h1 {
    font-size: 1.5em;
  }

  .slide-one .container .row div p {
    font-size: 1em;
    margin: 30px 0;
  }

  .carousel-item button {
    font-size: 10px;
  }

  .img-box {
    width: 250px;
  }

  .pic-two {
    width: 50px;
    position: absolute;
    left: 15px;
    bottom: 20px;
  }

  .pic-three {
    width: 38px;
    left: 80px;
    bottom: 10px;
  }

  .pic-four {
    width: 80px;
    top: -250px;
  }

  .pic-five {
    width: 55px;
    top: -120px;
  }

  .pic-six {
    width: 80px;
    right: 80px;
    top: -10px;
  }

  .slide-two .container .row {
    margin: 58% 0;
  }

  .slide-two .container .row div h1 {
    font-size: 1.5em;
  }

  .slide-two .container .row div p {
    font-size: 1em;
    margin: 30px 0;
  }

  .img-two {
    width: 100px;
  }

  .img-three {
    width: 35px;
  }

  .img-four {
    width: 30px;
  }

  .img-five {
    width: 50px;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .slide-one .container .row {
    margin: 44% 0;
    overflow: visible;
  }

  .slide-one .container .row div h1 {
    font-size: 1.5em;
  }

  .slide-one .container .row div p {
    font-size: 1em;
    margin: 30px 0;
  }

  .carousel-item button {
    font-size: 10px;
  }

  .img-box {
    width: 250px;
  }

  .pic-two {
    width: 50px;
    position: absolute;
    left: 15px;
    bottom: 20px;
  }

  .pic-three {
    width: 38px;
    left: 80px;
    bottom: 10px;
  }

  .pic-four {
    width: 80px;
    top: -250px;
  }

  .pic-five {
    width: 55px;
    top: -120px;
  }

  .pic-six {
    width: 80px;
    right: 80px;
    top: -10px;
  }

  .slide-two .container .row {
    margin: 46% 0;
  }

  .slide-two .container .row div h1 {
    font-size: 1.5em;
  }

  .slide-two .container .row div p {
    font-size: 1em;
    margin: 30px 0;
  }

  .img-two {
    width: 100px;
  }

  .img-three {
    width: 35px;
  }

  .img-four {
    width: 30px;
  }

  .img-five {
    width: 50px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .slide-one .container .row {
    margin: 24% 0;
    overflow: visible;
  }

  .slide-two .container .row {
    margin: 26.5% 0;
  }
}
